{
  "singleQuote": true,
  "printWidth": 140,
  "trailingComma": "none",
  "importOrder": ["^@app/(.*)$", "^~/(.*)$", "^@/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
